.oi-regular-tamil {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;   
  }
  


.playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
  }

